[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
environs = {extras = ["django"], version = "==8.0.0"}
django-environ = "*"
django-embed-video = "*"
whitenoise = "==6.6.0"
opencv-python = "*"
gunicorn = "*"
heroku = "==0.1.4"

[dev-packages]

[requires]
python_version = "3.11"
